@import "../../variables.scss";

.users {
  padding-top: 140px;
}
.usersWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    gap: 16px;
  }
  @media (min-width: 1024px) {
    gap: 29px;
  }
}
.moreButton {
  display: block;
  width: 120px;
  text-align: center;
  font-size: 16px;
  line-height: 1.63;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
  background-color: $primary-color;
  color: $text-color;
  border: none;
  border-radius: 80px;
  cursor: pointer;

  &:hover {
    background-color: $button-hover;
  }
}
.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
