.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: white;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  height: 60px;
}
.buttonsWrapper {
  display: flex;
  gap: 10px;
}
