@import "../../variables.scss";

.signUpForm {
  max-width: 328px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 380px;
    margin: 0 auto;
  }
}
.inputContainer {
  position: relative;
}
.inputContainer:nth-child(1),
.inputContainer:nth-child(2) {
  padding-bottom: 50px;
}
.label {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 16px;
  line-height: 1.63;
  transform: translate(-5px, 11px);
  transition: transform 0.2s ease;
  color: $label-color;
}
.input {
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid $input-border-color;
  border-radius: 4px;

  &:focus + .label,
  &:not(:placeholder-shown) + .label {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
    transform: translate(-7px, -12px) scale(0.95);
    background-color: $bgc-color;
  }
}
.errorInput {
  border-color: $error-color;
  & + .label {
    color: $error-color;
  }
}

.radioContainer {
  padding-top: 25px;
}
.radioTitle {
  padding-bottom: 14px;
}
.radioWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 7px;
}
input[type="radio"] {
  cursor: pointer;
}

// Upload photo
.upload {
  padding-bottom: 50px;
}
.uploadContainer {
  display: flex;
  max-width: 328px;
  padding-top: 36px;

  @media (min-width: 768px) {
    min-width: 380px;
  }
}
.uploadLabel {
  padding: 14px 15px;
  border: 1px solid $text-color;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}
.inputUploadContainer {
  flex: 1 1 auto;
  border: 1px solid $input-border-color;
  border-radius: 0px 4px 4px 0px;
}
.uploadInput {
  width: 100%;
  padding: 17px 16px;
  cursor: pointer;
}
.uploadInputEmpty {
  color: transparent;
  width: 100%;
  padding: 15px 16px;
  cursor: pointer;
}

.uploadInputEmpty::before {
  content: "Upload your photo";
  font-size: 16px;
  color: $label-color;
}
.uploadInput::-webkit-file-upload-button,
.uploadInputEmpty::-webkit-file-upload-button {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.submitButton {
  display: block;
  width: 120px;
  text-align: center;
  font-size: 16px;
  line-height: 1.63;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
  background-color: $primary-color;
  color: $text-color;
  border: none;
  border-radius: 80px;
  cursor: pointer;

  &:hover {
    background-color: $button-hover;
  }
}
.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  display: block;
  width: 120px;
  text-align: center;
  font-size: 16px;
  line-height: 1.63;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
  background-color: $button-disabled;
  color: white;
  border: none;
  border-radius: 80px;
}
.helper {
  padding-top: 4px;
  font-size: 12px;
  line-height: 0.88;
  color: $label-color;
}
.error {
  padding-top: 4px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 0.88;
  color: $error-color;
}
